@{
    ViewBag.Title = "School Hub Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">*@
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>School Hub Login</title>
</head>
<body>

    <div class="jumbotron">
        <h1>Welcome back to your School Hub</h1>

        <div class="container">
            <form>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input class="form-control " type="text" name="username" id="username" placeholder="Enter your username">
                </div>

                <div class="form-group ">
                    <label for="inputPassword">Password:</label>
                    <input class="form-control " type="password" id="password" name="password" placeholder="Enter your password">
                </div>

                <label>
                    <input type="checkbox" value="rememberMe"> Remember Me
                </label>

                <button class="btn btn-dark btn-block" id="submit" type="submit">Login</button>
            </form>

            <div class="container register-link">
                <p>Need to create an account? <a href="../Register/RegisterIndex">Register Now</a>.</p>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    @*<script type="text/javascript" src="~/Scripts/SchoolHubScripts/Login.js"></script>*@
    <script src="~/Scripts/SchoolHubScripts/Cookie.js"></script>
    <script>
        $(document).ready(function () {
    $("#submit").click(function (e) {
        if ($("#username").val() == "")
            alert("Username cannot be empty");
        else if ($("#password").val() == "")
            alert("Password cannot be empty");
        else {
            $.ajax({
                type: "POST",
                url: "/Login/CheckUserLogin",
                contentType: "application/json; charset=utf-8",
                data: '{"username":"' + $("#username").val() + '","password":"' + $("#password").val() + '"}',
                dataType: "html",
                success: function (result, status, xhr) {
                    out = JSON.parse(result)
                    if (out.message != "") {
                        alert(out.message)
                    } else {
                        if (out.user.RoleId == 1) {
                            var teacherId = out.user.Id;
                            setCookie("userId", teacherId, 2);

                            var url = '@Url.Action("TeacherHomeIndex", "TeacherHome")?userId='+teacherId;

                        } else {
                            var url = '@Url.Action("StudentHomeIndex", "StudentHome")';
                        }
                        window.location.href = url;
                    }
                },
                error: function (xhr, status, error) {
                    alert("Issue occured while logging in")
                }
            });
        }
        return false;
    });
});
  
    </script>
</body>
</html>