<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="Team6" />
    <title>@ViewBag.Title - Team 6</title>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Team 6 Application</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
