@{
    ViewBag.Title = "School Hub Registration";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="jumbotron">
        <h1>Register for School Hub</h1>

        <div class="container">
            <form>
                <div class="row">
                    <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <label for="Username">Create Your Username:</label>
                        <input class="form-control col-lg-12 col-md-12" type="text" name="Username" id="Username" placeholder="Enter your desired username" required>
                    </div>

                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <label for="RoleId">Role:</label>
                        <select id="RoleId" name="RoleId" class="form-control">
                            <option value="2" selected>Student</option>
                            <option value="1">Teacher</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <label for="FirstName">First Name:</label>
                        <input class="form-control col-lg-12 col-md-12" type="text" name="FirstName" id="FirstName" placeholder="Enter your first name" required>
                    </div>

                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <label for="LastName">Last Name:</label>
                        <input class="form-control col-lg-12 col-md-12" type="text" name="LastName" id="LastName" placeholder="Enter your last name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Email">Email Address:</label>
                    <input class="form-control col-lg-12 col-md-12" type="email" name="Email" id="Email" placeholder="Enter your email address" required>
                </div>

                <div class="form-group">
                    <label for="Password">Password:</label>
                    <input class="form-control col-lg-12 col-md-12" type="password" name="Password" id="Password" placeholder="Enter your password" minlength="8" required>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit" id="test">Register</button>
                </div>
            </form>

            <div class="container login-link">
                <p>Already have an account? <a href="../Login/LoginIndex">Login Now</a>.</p>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#test").click(function (e) {
                var user = {
                    username: $("#Username").val(),
                    email: $("#Email").val(),
                    firstName: $("#FirstName").val(),
                    lastName: $("#LastName").val(),
                    roleId: $("#RoleId").val()
                }

                $.ajax({
                    type: "POST",
                    url: "/Register/RegisterUser",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({'inUser': user, 'password': $("#Password").val() }),
                    dataType: "json",
                    success: function (result, status, xhr) {
                        out = result;
                        if (out.message != "") {
                            alert(out.message)
                        } else {
                            if (out.user.RoleId == 1) {
                                var teacherId = out.user.Id;
                                var url = '@Url.Action("TeacherHomeIndex", "TeacherHome")?userId=' + teacherId;
                            } else {
                                var studentId = out.user.Id;
                                var url = '@Url.Action("StudentHomeIndex", "StudentHome")?userId=' + studentId;
                            }
                                window.location.href = url;
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("Issue occured while registering")
                    }
                });
                return false;
            });
        });

    </script>
</body>
</html>