@model SchoolHub.Models.ClassHomeModel

@{
    ViewBag.Title = "School Hub Add Event";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <title>Add Event</title>
</head>
<body>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                <h2>Add Personal Event</h2>
            </div>
            <div class="col-md-6">
                @Html.ActionLink("Go Back", "StudentHomeIndex", new { userId = Model.User.Id }, new { @class = "btn btn-primary " })
            </div>
        </div>
        <div class="container">
            <form>
                    <div class="form-group">
                        <label for="EventDescription">Event Description:</label>
                        <input class="form-control" name="EventDescription" id="EventDescription" placeholder="Description goes here">
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label for="StartDate">Start Date:</label>
                            <input class="form-control col-lg-12 col-md-12" type="date" name="StartDate" id="StartDate" placeholder="11/07/2018">
                        </div>

                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label for="EndDate">End Date:</label>
                            <input class="form-control " type="date" name="EndDate" id="EndDate" placeholder="11/07/2018">
                        </div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block" type="submit" id="Submit">Add Event</button>
                    </div>
            </form>
        </div>
    </div>

    <script>
    $(function () {
        if (!Modernizr.inputtypes['date']) {
            $('input[type=date]').datepicker({
                dateFormat: 'mm-dd-yy'
            });
        }
    });
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script>
      $(document).ready(function () {
          $("#Submit").click(function (e) {
            var user = @Model.User.Id;
            var newEvent = {
                Description: $("#EventDescription").val(),
                TypeId: $("#Type").val(),
                StartDate: $("#StartDate").val(),
                EndDate: $("#EndDate").val(),
                UserId: user
            }
            $.ajax({
                type: "POST",
                url: "/StudentHome/NewStudentEvent",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ 'InEvent': newEvent }),
                dataType: "json",
                success: function (result, status, xhr) {
                    out = result;
                    if (out.message != "") {
                        alert("Something in your request was unable to be processed");
                        //alert(out.message)
                    }
                    else {
                        var url = '@Url.Action("StudentHomeIndex", "StudentHome", new {userId = Model.User.Id })';
                        window.location.href = url;
                    }
                },
                error: function (xhr, status, error) {
                    alert("Issue occured while adding a class")
                }
            });
            return false;
        });
    });

    </script>

</body>
</html>