@{
    ViewBag.Title = "School Hub Add Class";
}
@model SchoolHub.Models.TeacherHomeModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Add Teacher Class</title>
    @* Needed for cookies to work *@
    <script src="~/Scripts/SchoolHubScripts/Cookie.js"></script>
</head>
<body>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                <h2>Add Class</h2>
            </div>
            <div class="col-md-6">
                @Html.ActionLink("Go Back", "TeacherHomeIndex", new { userId = Model.User.Id }, new { @class = "btn btn-primary " })
            </div>
        </div>
        <div class="container">
            <form>
                <div class="row">
                    <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <label for="SchoolId">Select School:</label>
                        <select id="SchoolId" class="form-control">
                            <option value="1" selected>UW Oshkosh</option>
                        </select>
                    </div>

                    <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <label for="ClassNumber">Class Number:</label>
                        <input class="form-control" type="text" name="ClassNumber" id="ClassNumber" placeholder="CS300" required>
                    </div>

                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label for="ClassName">Course Name:</label>
                        <input class="form-control" type="text" name="ClassName" id="ClassName" placeholder="Artificial Intelligence" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="ClassDescription">Class Description:</label>
                    <textarea class="form-control col-lg-12 col-md-12" rows="4" name="ClassDescription" id="ClassDescription" placeholder="Description goes here" required></textarea>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <label for="StartDate">Start Date:</label>
                        <input class="form-control col-lg-12 col-md-12" type="date" name="StartDate" id="StartDate" placeholder="11/07/2018" required>
                    </div>

                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <label for="EndDate">Start Date:</label>
                        <input class="form-control col-lg-12 col-md-12" type="date" name="EndDate" id="EndDate" placeholder="11/07/2018" required>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" type="submit" id="Submit">Add Class</button>
                </div>
            </form>
        </div>
    </div>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>*@
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script>
        $(function () {
            if (!Modernizr.inputtypes['date']) {
                $('input[type=date]').datepicker({
                    dateFormat: 'mm-dd-yy'
                });
            }
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#Submit").click(function (e) {
                var teacherid = getCookie("userId");
                var newClass = {
                    classNumber: $("#ClassNumber").val(),
                    className: $("#ClassName").val(),
                    classDescription: $("#ClassDescription").val(),
                    startDate: $("#StartDate").val(),
                    endDate: $("#EndDate").val(),
                    teacherId: teacherid,
                    schoolId: $("#SchoolId").val()
                }
                $.ajax({
                    type: "POST",
                    url: "/TeacherHome/AddNewClass",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ 'inClass': newClass }),
                    dataType: "json",
                    success: function (result, status, xhr) {
                        out = result;
                        if (out.message != "") {
                            alert(out.message)
                        }
                        else {
                            var url = '@Url.Action("TeacherHomeIndex", "TeacherHome", new {userId = Model.User.Id })';
                            window.location.href = url;
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("Issue occured while adding a class")
                    }
                });
                return false;
            });
        });

    </script>

</body>
</html>